        .title {
            text-align: center;
            font-size: 32px;
            font-weight: bold;
            margin-top: 50px;
        }

        .struktur-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            margin: 60px 0;
        }

        .card {
            width: 260px;
            text-align: center;
        }

        .card img {
            width: 100%;
            border-radius: 10px;
        }

        .nama {
            margin-top: 15px;
            font-size: 18px;
            font-weight: bold;
        }

        .jabatan {
            color: #333;
            margin-top: 5px;
        }

        .arrow {
            font-size: 35px;
            cursor: pointer;
            padding: 10px;
        }
