body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}

/* TITLE */
.title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
    color: #002147;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, auto));
    gap: 35px;
    padding: 30px 40px;
    max-width: 1200px;
    margin: auto;

    justify-content: center;  
}

.card {
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    background: #fff;
    transition: 0.3s ease;
    border: 1px solid #e0e0e0;
}

/* Hover efek */
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}


/* Tombol */
.btn-detail {
    display: block;
    width: 150px;
    margin: 15px auto 25px auto;
    padding: 10px 0;
    background: #002147;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
}

.btn-detail:hover {
    background: #014c7d;
}


