body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* TITLE */
.title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 40px;
}

/* GRID CARD */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 40px;
    max-width: 1100px;
    margin: auto;
}

.card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: white;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
    font-size: 22px;
    font-weight: bold;
}

.btn-detail {
    display: block;
    width: 140px;
    margin: 15px auto 25px auto;
    padding: 10px;
    background: #002147;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}
